.whole{
	background: rgba(255, 99, 71,0.8);
	font-family: 'Bitter', serif;
}
.img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.details{
	 
    display: inline-flex;
}
.center{
	text-align: center;
	margin-top: 0;
}
.container{
	margin-top: 100px;
	color:white;
}
.text-center{
	margin-bottom: -70px;
}
.country{
	margin:22px;
}
.temperature{
	margin:22px;
}
.humidity{
	margin:22px;
}
.wind{
	margin:22px;
}
.country .temperature .humidity .wind{
	width: 100px;
	height: 50px;
}
.btn{
	font-size: 20px;
	background: rgba(0,0,0,0.3);
	border-width: 0;
}
.btn:hover{
	background: rgba(20,20,20,0.3);
	border-width: 0;
}
.btn:focus{
	background: rgba(20,20,20,0.3);
	border-width: 0;
}
.ion-ios-cloudy-night{
	font-size: 25px;
}